.products-vertical-filter-container {
  border-radius: 8px;
  border: 1px solid #dddddd;
  position: sticky;
  top: 80px;
}

.price-fooladium-banner-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position-x: center;
}

.price-table-head-sep {
  font-size: 26px;
  color: #d1d1d1;
}

.price-table-head-date {
  background-color: #fff;
  padding-right: 15px;
  border-radius: 8px;
}
